<div class="container" [hidden]="loadingData$ | async">
  <div class="my-5">
    <form [formGroup]="form" class="mb-3">
      <input
        type="text"
        placeholder="Filtro"
        class="input w-100"
        formControlName="filter"
      />
    </form>

    <table class="table">
      <tr class="table__row">
        <th class="table__header">Nombre</th>
        <th class="table__header">Color de ojos</th>
        <th class="table__header">Género</th>
        <th class="table__header">Películas asociadas</th>
      </tr>

      <tr
        *ngFor="let character of filteredCharacters$ | async"
        class="table__row"
      >
        <td class="table__data">{{ character.name }}</td>
        <td class="table__data">
          <div class="tooltip">
            <span
              class="dot"
              [ngStyle]="{ 'background-color': character.eye_color }"
            ></span>
            <span class="tooltip__text">{{ character.eye_color }}</span>
          </div>
        </td>
        <td class="table__data">{{ character.gender | uppercase }}</td>
        <td class="table__data">
          <p *ngFor="let film of character.films">
            {{ (getMovie(film) | async)?.title }}
          </p>
        </td>
      </tr>
    </table>
  </div>
</div>
