<div class="container navbar py-5">
  <div class="navbar__logo">
    <a routerLink="home">
      <img
        class="logo-img"
        src="../../../../assets/img/logo.png"
        alt="logo"
        height="30px"
      />
    </a>
  </div>

  <ul
    #navbarCollapse
    class="d-flex justify-content-between gap-4 navbar__collapse"
  >
    <li class="navbar__item">
      <a routerLink="home" routerLinkActive="active" (click)="toggle()"
        >Inicio</a
      >
    </li>
    <li class="navbar__item">
      <a routerLink="movies" routerLinkActive="active" (click)="toggle()"
        >Películas</a
      >
    </li>
    <li class="navbar__item">
      <a routerLink="characters" routerLinkActive="active" (click)="toggle()"
        >Personajes</a
      >
    </li>
  </ul>

  <div class="navbar__collapse">
    <a
      href="https://github.com/franmerlini/frontend-challenge-swapi"
      target="_blank"
      class="btn gray-900"
    >
      <i class="ri-github-fill fs-3"></i>¡Mirá el repo!
    </a>
  </div>

  <div class="navbar__menu">
    <button class="btn-menu" (click)="toggle()">
      <i class="ri-menu-line fs-3"></i>
    </button>
  </div>
</div>
