<div class="container" [hidden]="loadingData$ | async">
  <div class="grid-container my-4">
    <div *ngFor="let movie of movies$ | async" class="d-flex align-center my-3">
      <div class="card">
        <h3 class="card__title">
          {{ movie.title }} | Episode {{ movie.episode_id }}
        </h3>
        <p><b>Director:</b> {{ movie.director }}</p>
        <p>
          <b>Personajes: </b>
          <span *ngFor="let character of movie.characters">
            <a class="link me-1" (click)="findCharacter(character)">{{
              (getCharacter(character) | async)?.name
            }}</a>
          </span>
        </p>
      </div>
    </div>
  </div>
</div>
