// ------------------- Imports -------------------
@import "remixicon/fonts/remixicon.css";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800;900&display=swap");

// ------------------- CSS Variables -------------------
:root {
  --gray-900: #212121;
  --gray-800: #424242;
  --gray-700: #616161;
  --gray-600: #757575;
  --gray-500: #9e9e9e;
  --gray-400: #bdbdbd;
  --gray-300: #e0e0e0;
  --gray-200: #eeeeee;
  --gray-100: #f5f5f5;
  --gray-50: #fafafa;
}

// ------------------- Base CSS -------------------
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  background-color: var(--gray-900);
  color: var(--gray-50);
  font-family: "Nunito", sans-serif;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

#root,
#__next {
  isolation: isolate;
}

// ------------------- Common CSS -------------------
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

// Card
.card {
  background-color: var(--gray-800);
  border-radius: 0.5rem;
  padding: 1.5rem;
}

.card__title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--gray-600);
}

// Table
.table {
  width: 100%;
  border-radius: 0.5rem;
  border-collapse: collapse;
  overflow: hidden;
}

.table__row {
  border: 1px solid var(--gray-600);
}

.table__header {
  background-color: var(--gray-700);
  padding: 0.5rem;
}

.table__data {
  padding: 0.5rem;
  text-align: center;
}

// Button
.btn {
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0.05rem 1rem;
  border-radius: 2rem;
  background-color: var(--gray-300);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.btn:hover {
  background-color: var(--gray-50);
}

.btn-icon {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
  height: 48px;
  width: 48px;
  padding: 12px;
  border-radius: 50%;
  color: var(--gray-50);
  text-align: center;
}

.btn-icon:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

// Dot
.dot {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid var(--gray-50);
}

// Tooltip
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltip__text {
  visibility: hidden;
  max-width: 100px;
  background-color: var(--gray-700);
  color: var(--gray-50);
  text-align: center;
  padding: 3px 5px;
  border-radius: 6px;
  white-space: nowrap;

  bottom: 100%;
  margin-left: calc(100% - 50px);
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltip__text {
  visibility: visible;
}

// Input
.input {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid var(--gray-50);
  border-radius: 5px;
  padding: 0.75rem 1.25rem;
  color: var(--gray-50);
}

// Select
.select {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid var(--gray-50);
  border-radius: 5px;
  padding: 0.5rem 0.75rem;
  color: var(--gray-50);
}

// Option
.option {
  background-color: var(--gray-900);
  color: var(--gray-50);
}

// Paginator
.ngx-pagination .ng-star-inserted {
  border: transparent;
  border-radius: 20px;
  color: var(--gray-50);

  :hover {
    color: var(--gray-900);
  }
}

.ngx-pagination .current {
  border: transparent;
  border-radius: 20px;
  background: var(--gray-600) !important;
}

// ------------------- Utilities -------------------
// Flexbox
.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}
.justify-content-end {
  justify-content: end;
}

.align-center {
  align-items: center;
}

// Text align
.text-center {
  text-align: center;
}

// Gap
.gap-1 {
  gap: 0.25rem;
}
.gap-2 {
  gap: 0.5rem;
}
.gap-3 {
  gap: 1rem;
}
.gap-4 {
  gap: 1.5rem;
}
.gap-5 {
  gap: 2rem;
}

// Font size
.fs-1 {
  font-size: 1rem;
}
.fs-2 {
  font-size: 1.25rem;
}
.fs-3 {
  font-size: 1.5rem;
}
.fs-4 {
  font-size: 1.75rem;
}
.fs-5 {
  font-size: 2rem;
}
.fs-6 {
  font-size: 2.25rem;
}
.fs-7 {
  font-size: 2.5rem;
}

// Font weight
.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
.fw-800 {
  font-weight: 800;
}
.fw-900 {
  font-weight: 900;
}

// Padding
.pt-1 {
  padding-top: 0.25rem;
}
.pt-2 {
  padding-top: 0.5rem;
}
.pt-3 {
  padding-top: 1rem;
}
.pt-4 {
  padding-top: 1.5rem;
}
.pt-5 {
  padding-top: 3rem;
}
.pb {
  padding-bottom: 0.25rem;
}
.pb-1 {
  padding-bottom: 0.25rem;
}
.pb-2 {
  padding-bottom: 0.5rem;
}
.pb-3 {
  padding-bottom: 1rem;
}
.pb-4 {
  padding-bottom: 1.5rem;
}
.pb-5 {
  padding-bottom: 3rem;
}
.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.py-3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.py-4 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.py-5 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.ps-1 {
  padding-left: 0.25rem;
}
.ps-2 {
  padding-left: 0.5rem;
}
.ps-3 {
  padding-left: 1rem;
}
.ps-4 {
  padding-left: 1.5rem;
}
.ps-5 {
  padding-left: 3rem;
}
.pe-1 {
  padding-right: 0.25rem;
}
.pe-2 {
  padding-right: 0.5rem;
}
.pe-3 {
  padding-right: 1rem;
}
.pe-4 {
  padding-right: 1.5rem;
}
.pe-5 {
  padding-right: 3rem;
}
.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.px-3 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.px-4 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.px-5 {
  padding-left: 3rem;
  padding-right: 3rem;
}

// Margin
.mt-1 {
  margin-top: 0.25rem;
}
.mt-2 {
  margin-top: 0.5rem;
}
.mt-3 {
  margin-top: 1rem;
}
.mt-4 {
  margin-top: 1.5rem;
}
.mt-5 {
  margin-top: 3rem;
}
.mb-1 {
  margin-bottom: 0.25rem;
}
.mb-2 {
  margin-bottom: 0.5rem;
}
.mb-3 {
  margin-bottom: 1rem;
}
.mb-4 {
  margin-bottom: 1.5rem;
}
.mb-5 {
  margin-bottom: 3rem;
}
.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.my-3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.my-4 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.my-5 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.ms-1 {
  margin-left: 0.25rem;
}
.ms-2 {
  margin-left: 0.5rem;
}
.ms-3 {
  margin-left: 1rem;
}
.ms-4 {
  margin-left: 1.5rem;
}
.ms-5 {
  margin-left: 3rem;
}
.me-1 {
  margin-right: 0.25rem;
}
.me-2 {
  margin-right: 0.5rem;
}
.me-3 {
  margin-right: 1rem;
}
.me-4 {
  margin-right: 1.5rem;
}
.me-5 {
  margin-right: 3rem;
}
.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}
.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.mx-3 {
  margin-left: 1rem;
  margin-right: 1rem;
}
.mx-4 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.mx-5 {
  margin-left: 3rem;
  margin-right: 3rem;
}

// Color
.gray-50 {
  color: var(--gray-50);
}
.gray-100 {
  color: var(--gray-100);
}
.gray-200 {
  color: var(--gray-200);
}
.gray-300 {
  color: var(--gray-300);
}
.gray-400 {
  color: var(--gray-400);
}
.gray-500 {
  color: var(--gray-500);
}
.gray-600 {
  color: var(--gray-600);
}
.gray-700 {
  color: var(--gray-700);
}
.gray-800 {
  color: var(--gray-800);
}
.gray-900 {
  color: var(--gray-900);
}

// Background color
.bg-gray-50 {
  background-color: var(--gray-50);
}
.bg-gray-100 {
  background-color: var(--gray-100);
}
.bg-gray-200 {
  background-color: var(--gray-200);
}
.bg-gray-300 {
  background-color: var(--gray-300);
}
.bg-gray-400 {
  background-color: var(--gray-400);
}
.bg-gray-500 {
  background-color: var(--gray-500);
}
.bg-gray-600 {
  background-color: var(--gray-600);
}
.bg-gray-700 {
  background-color: var(--gray-700);
}
.bg-gray-800 {
  background-color: var(--gray-800);
}
.bg-gray-900 {
  background-color: var(--gray-900);
}

// Width
.w-25 {
  width: 25%;
}
.w-50 {
  width: 50%;
}
.w-75 {
  width: 75%;
}
.w-100 {
  width: 100%;
}
